/*to center text in tables*/
table
{
	text-align:center;
	width:100%
}

/*to set the background of the page*/
body#homepage
{
	background-image: linear-gradient(to bottom right, aqua, white, blue, white, aqua);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
body#family
{
	background-image: url("images/paperBackground.webp");
	background-size:100% 100%;
}
body#hobbies
{
	background-image: linear-gradient(to bottom right, lightblue, lightgreen);
	background-repeat:no-repeat;
	background-size:100% 100%;
}
body#facts{
	background-image: linear-gradient(to bottom right, pink, purple);
	background-size: 100% 100%;
}
/*To center the table*/
table.center {
    margin-left:auto; 
    margin-right:auto;
}
body#citations{
	background-image: linear-gradient(to bottom right, pink, orange);
	background-size: 100% 100%;
}
/* to center text*/
.center
{
	text-align: center;
}
/*set the border and height of the menubar*/
#menubar
{
	border: 2px solid black;
	height:50px;
}
/*Set formatting for each individual menu cell*/
.menucell{
	width:20%;
	border:2px solid black;
	font-family:"Marker Felt", fantasy;
	color:blue;
	transition:font-size 1s;
}
ul.facts>li{
	padding:20px;
	vertical-align:top;
}
.blue{
	color:blue;
}

/*to make the text larger if the user is hovering over the menu cell*/
.menucell:hover{font-size:150%;}
/*for the odd cells in the menu bar*/
.odd{background-color:lightgrey;}
/*for the even cells in the menu bar*/
.even{background-color:white;}
/*for the title*/
#title
{
	font-family:"Marker Felt";
	font-size:56px;
	line-height:1;
}
/*for the subheadings(about, hobbies, interests, etc.)*/
.subheader
{
	font-family:"Marker Felt", fantasy;
	font-size:32px;
	text-decoration:underline;
	text-align:center;
	padding-bottom:50px;
}
ul{
	padding-left:100px;
	font-family:"Blippo", fantasy;
	font-size:18px;
	text-align:left;
}
.subheader2
{
	font-family:"Marker Felt", fantasy;
	font-size:24px;
	text-decoration:underline;
	text-align:center;
	padding-bottom:50px;
	padding-top:75px;
}

/*for the name and class*/
.name
{
	font-family:"Blippo", fantasy;
}
/*for the paragraphs*/
.p{
	text-align:center;
	vertical-align:top;
	font-size:18px;
	font-family:"Blippo", fantasy;
}
.caption{
	text-align:center;
	vertical-align:top;
	font-size:14px;
	font-family:"Blippo", fantasy;
}
.border{
	border:2px solid black;
}
.citation{
	text-align:left;
	padding-left:50px;
	font-size:18px;
	font-family:"Blippo", fantasy;
}
#toTheTop{
	padding-left:15px;
	font-family:"Blippo", fantasy;
}
#linkToTop{
	color:red;
	font-size:20px;
}